*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 7px;
}
body{
    font-size: 10px;
}
.calculator{
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   width:85%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%) ;
}
.calculator_input{
    width: 100%;
    font-size: 30px;
    height: 60px;
    border: none;
    background-color: #252525;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}


 button{
     height: 45px;
     background-color: #fff;
     border-radius: 3px;
     border:  1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2.5rem;
    color: #333;
}
.calculator_keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}

button:hover{
    background-color: #eaeaea;
}
.operator{
    color: #337cac;
}

.clear{
    background-color: #f0595f;
    border-color: #b0353a;
}
.clear:hover{
    background-color: #f17377;
}

.equal_sigh:hover{
    background-color: #4e9ed4;
}
.equal_sigh{
    background-color: #2e86c0;
    border-color: #337cac;
    color:#fff;
    height: 100%;
    grid-area: 2/4/6/5;
}